.logo{
    width: 250px;
    height: 70px;
    margin-right: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.add_mobile-button{
    display: none;
    background-color: #3a834d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}